<%- include('./partials/head') %>


    <% tno.forEach(tno => {%>
        <p><%= tno.intro%></p>
        <article popover id="moreInf">
            

            <% tno.chapters.forEach(chapter => {%>
                <p><%= chapter.id%> <%= chapter.title%></p>
                <img src="/images/<%= chapter.id %>.<%= chapter.title %>.svg" alt="<%= chapter.title %>">
                <%= chapter.content%>
            <% }) %>
        </article>
    <% }) %>

        <article>
            <button popovertarget="moreInf">Open Popover</button>
            
            <%- include('./partials/infographic') %>

        </article>

<%- include('./partials/foot') %>


