<%- include('./partials/head') %>

<main>
<!-- mobile -->

    <% tno.forEach(tno => { %>
        <p class="intro"><%= tno.intro %></p>
    <% }) %>
    
    
    <%- include('./partials/infographic') %>

            <% tno.forEach(item => { %>
                <% item.chapters.forEach(chapter => { %>
                    <article>
                        <div class="mobilePopup" id="moreInf-<%= chapter.id %>">
                            <button class="closePopupButton">
                                <picture>
                                    <source type="image/avif" srcset="/images/closeButton.avif">
                                    <source type="image/webp" srcset="/images/closeButton.webp">
                                    <img class="popupImage" src="/images/closeButton.svg" alt="close popup" loading="lazy">
                                </picture>                    
                            </button>
                            <picture>
                                <!-- <source type="image/avif" srcset="/images/<%= chapter.id %>.<%= chapter.title %>.avif"> -->
                                <!-- <source type="image/webp" srcset="/images/<%= chapter.id %>.<%= chapter.title %>.webp"> -->
                                <img class="popupImage" src="/images/<%= chapter.id %>.<%= chapter.title %>.svg" alt="<%= chapter.title %>" loading="lazy">
                            </picture>                
                            <p class="title"><%= chapter.id %> <%= chapter.title %></p>
                            <p class="content"><%- chapter.content %></p>
                            <!-- <a href="#"> Bekijk de video 
                                <picture>
                                <source type="image/avif" srcset="/images/arrow.avif">
                                <source type="image/webp" srcset="/images/arrow.webp">
                                <img src="/images/arrow.svg" alt="Arrow" loading="lazy">
                                </picture>
                            </a> -->
                        </div>
                    </article>
                <% }); %>
            <% }) %>

</main>

<%- include('./partials/foot') %>

