<%- include('./partials/head') %>

<main>


<section class="intro">
    <% tno.forEach(tno => {%>
        <div class="intro-div">
            <h1>Exposense</h1>
            <p><%= tno.intro %></p>
            <p><%= tno.content %></p>

            <%- include('./partials/infographic-svg') %>  
        </div>

    
        
        <% tno.chapters.slice(4, 5).forEach(chapter => {%>

        <article class="popup-cards">
            <a href="/" class="close-btn"><%- include('./partials/close-btn') %></a>
                <div class="card-content">
                    <img src="/svg/exposense SVG/<%= chapter.title %>.svg" class="svg-image">
                        <div>
                            <h2><%= chapter.title %></h2>
                            <p><%- chapter.content %></p> 
                        </div>
                </div>
            
            <a href="<%= chapter.video_url %>" class="bekijk-video">Bekijk de video -></a>
        </article>


        <%}) %>

    
    <%}) %>

</section>



<div class="center">
    <!-- <button id="open-popup" class="btn">+</button> -->
</div>
<div class="popup" id="popup">
    <div class="overlay"></div>
    <div class="popup-content">
        <h2>Titel van de popup</h2>
        <p>Content van de popup</p>
        <div class="controls">
            <button class="close-btn">Close</button>
            <button class="submit-btn">submit</button>
        </div>
    </div>
</div>



</main>

<%- include('./partials/footer') %>
